extractedFrames/
results/
venv/
preprocessed/
test_videos/
results.csv
frameOutputs.csv
test_videos/
evaluation_plots/
__pycache__/
timesformerOutput/
OpticalLogs/
timesformerLogs/
LLMLogs/
timesformerTrained/
preprocessingLogs/
*.json
train_tensors/
val_tensors/
test_tensors/
*.txt